/* 
dark orange: #D17D10
light orange: #F5C07A
orange: #EF9826
 green: #AFD36B
light green: #D4E8B0
dark green: #8EBC38
https://coolors.co/palette/d17d10-ef9826-f5c07a-8ebc38-afd36b-d4e8b0
*/

/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: wrap column;
    background-color: #F5C07A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 5rem;
    color: #fffbff;
    padding: 0;
    margin: 0;
    font-size: calc(1rem + 0.25vw);
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

/* Header */

.navbar {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    background-color: #D17D10;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid #fffbff;
}

.navList {
    display: flex;
    align-content: space-between;
    width: 600px;
    margin-left: auto;
}

.navLink {
    background-color: #8EBC38;
    color: #fffbff;
    width: 10vw;
    padding: 16px;
    margin-right: 10px;
    border-right: 1px solid #fffbff;
    font-size: calc(1rem + 0.25vw);
    transition-property: backgroud-color, font-size;
    transition-duration: 3s;
    transition-timing-function: step-start;
}

.navLink:hover {
    background-color: #AFD36B;
    height: 100%;
    font-size: calc(1rem + 0.30vw);
}

#nav4 {
    border: none
}

.logo {
    margin-left: 50px;
}

.dropbtn {
    background-color: #8EBC38;
    color: #fffbff;;
    width: 10vw;
    padding: 16px;
    font-size: calc(1rem + 0.25vw);
    border: none;
    cursor: pointer;
  }
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color:  #D4E8B0;
  }

  .hover:hover {
    background-color: #D4E8B0;
    color: #fffbff;
  }

/* Main Content */

.mainContainer {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    margin: 60px;
    flex-grow: 1;
}

/* Home */

.homeUpperSection {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-top: 1vh;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #f3dec458;
    box-shadow: 5px 6px 18px 0px rgba(0,0,0,0.44);
}

.leftContentUpperContainer {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding-top: 20px;
}

.leftContentUpperContainer p {
    padding-top: 10px;
    font-size: 28px;
    width: 400px;
    text-align: center;
}

.initialButton {
    background-color: #D4E8B0;
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 0.5px solid #8EBC38
}

.initialButton:hover {
    background-color: #AFD36B;
}

.homeLowerContainer {
    display: flex;
    flex-flow: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #8EBC38;
    overflow: hidden;
}
.imgTransition {
    align-self: flex-end;
    transform: translateY(140px);
    transition: all 0.5s ease-in-out;
    cursor: grab;
}

.imgTransition:hover {
    transform: translateY(0px);
}

.bottomContainer {
    width: 100%;
    height: 500px;
}

/* Clients */

.petStories {
 width: 400px;
 margin: auto;
 padding: 40px;
 font-size: 20px;
}

.clientCardContainer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 1000px;
    background-color: #d4e8b0c4;
    box-shadow: 5px 6px 18px 0px rgba(0,0,0,0.44);
}

.gifContainer {
    display: flex;
    width: 500px;
    height: 200px;
    /* border: 1px solid red; */
    margin-left: 10px;
}

/* Services */

.boxServices {
    display: flex;
    flex-flow: wrap column;
    align-items:center;
    border: 1px solid black;
    padding: 20px;
    background-color: #f3dec458;
}
/* footer */

/* .footer {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: #D17D10;
    margin-top: auto;
    /* position: relative;
    bottom: 0; */
    /* width: 100%;
    height: 15rem;  
} */

@media (max-width: 767px) {

    .homeUpperSection {
        flex-flow: wrap column;
        overflow: visible
    }
}